<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.tarena.note.dao.UserDao">
	<select id="findByUserName" 
		parameterType="string"
		resultType="org.tarena.note.entity.User">
		select cn_user_id userId,
			cn_user_name userName,
			cn_user_password userPassword,
			cn_user_token userToken,
			cn_user_desc userDescr
		from cn_user
		where cn_user_name=#{userName} 
	</select>
	<insert id="add" parameterType="org.tarena.note.entity.User" >
		insert into cn_user(cn_user_id,cn_user_name,cn_user_password,cn_user_token,cn_user_desc) values(#{id},#{name},#{password},#{token},#{descr}) 
	</insert>

	
</mapper>