<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.tarena.note.dao.NoteDao">
	<select id="findByUserId" 
		parameterType="string"
		resultType="org.tarena.note.entity.Note">
		select cn_note_id noteId,
			cn_notebook_id notebookId,
			cn_user_id userId,
			cn_note_status_id noteStatusId,
			cn_note_type_id noteTypeId,
			cn_note_title noteTitle,
			cn_note_body noteBody,
			cn_note_create_time noteCreateTime,
			cn_note_last_modify_time noteLastModifyTime
		from cn_note
		where cn_user_id=#{userId}&amp;&amp;cn_note_type_id!='2' 
	</select>
	<select id="findByNoteId" 
		parameterType="string"
		resultType="org.tarena.note.entity.Note">
		select cn_note_id noteId,
			cn_notebook_id notebookId,
			cn_user_id userId,
			cn_note_status_id noteStatusId,
			cn_note_type_id noteTypeId,
			cn_note_title noteTitle,
			cn_note_body noteBody,
			cn_note_create_time noteCreateTime,
			cn_note_last_modify_time noteLastModifyTime
		from cn_note
		where cn_note_id=#{noteId}&amp;&amp;cn_note_type_id!='2'
	</select>
	<select id="findByNoteBookId" 
		parameterType="string"
		resultType="org.tarena.note.entity.Note">
		select cn_note_id noteId,
			cn_notebook_id notebookId,
			cn_user_id userId,
			cn_note_status_id noteStatusId,
			cn_note_type_id noteTypeId,
			cn_note_title noteTitle,
			cn_note_body noteBody,
			cn_note_create_time noteCreateTime,
			cn_note_last_modify_time noteLastModifyTime
		from cn_note
		where cn_notebook_id=#{notebookId} &amp;&amp;cn_note_type_id!='2'
	</select>
	<select id="findByNoteTitle" 
		parameterType="string"
		resultType="org.tarena.note.entity.Note">
		select cn_note_id noteId,
			cn_notebook_id notebookId,
			cn_user_id userId,
			cn_note_status_id noteStatusId,
			cn_note_type_id noteTypeId,
			cn_note_title noteTitle,
			cn_note_body noteBody,
			cn_note_create_time noteCreateTime,
			cn_note_last_modify_time noteLastModifyTime
		from cn_note
		where cn_note_title=#{noteTitle}&amp;&amp;cn_note_type_id!='2'
	</select>
	<select id="findByNoteStatusId" 
		parameterType="string"
		resultType="org.tarena.note.entity.Note">
		select cn_note_id noteId,
			cn_notebook_id notebookId,
			cn_user_id userId,
			cn_note_status_id noteStatusId,
			cn_note_type_id noteTypeId,
			cn_note_title noteTitle,
			cn_note_body noteBody,
			cn_note_create_time noteCreateTime,
			cn_note_last_modify_time noteLastModifyTime
		from cn_note
		where cn_note_status_id=#{noteStatusId}&amp;&amp;cn_note_type_id!='2'
	</select>
	<select id="findNoteByNoteTypeId" 
		parameterType="string"
		resultType="org.tarena.note.entity.Note">
		select cn_note_id noteId,
			cn_notebook_id notebookId,
			cn_user_id userId,
			cn_note_status_id noteStatusId,
			cn_note_type_id noteTypeId,
			cn_note_title noteTitle,
			cn_note_body noteBody,
			cn_note_create_time noteCreateTime,
			cn_note_last_modify_time noteLastModifyTime
		from cn_note
		where cn_note_type_id=#{noteTypeId}&amp;&amp;cn_note_type_id!='2'
	</select>
	<insert id="addNote" parameterType="org.tarena.note.entity.Note">
		insert into cn_note values(#{noteId},#{notebookId},#{userId},#{noteStatusId},
						#{noteTypeId},#{noteTitle},#{noteBody},#{noteCreateTime},#{noteLastModifyTime})					
	</insert>
	<delete id="deleteNote" parameterType="string">
		delete from cn_note where cn_note_id=#{noteId}
	</delete>
	<update id="updateNote" parameterType="org.tarena.note.entity.Note">
		update cn_note 
		<set>
			<if test="notebookId!=null">cn_notebook_id=#{notebookId},</if>					
			<if test="userId!=null">cn_user_id=#{userId},</if>
			<if test="noteStatusId!=null">cn_note_status_id=#{noteStatusId},</if>
			<if test="noteTypeId!=null">cn_note_type_id=#{noteTypeId},</if>
			<if test="noteTitle!=null">cn_note_title=#{noteTitle},</if>
			<if test="noteBody!=null">cn_note_body=#{noteBody},</if>
			<if test="noteCreateTime!=null">cn_note_create_time=#{noteCreateTime},</if>
			<if test="noteLastModifyTime!=null">cn_note_last_modify_time=#{noteLastModifyTime}</if>			
		</set>
		where cn_note_id=#{noteId}
	</update>	
	<select id="findDeleteNoteByNoteTypeId" 
		parameterType="string"
		resultType="org.tarena.note.entity.Note">
		select cn_note_id noteId,
			cn_notebook_id notebookId,
			cn_user_id userId,
			cn_note_status_id noteStatusId,
			cn_note_type_id noteTypeId,
			cn_note_title noteTitle,
			cn_note_body noteBody,
			cn_note_create_time noteCreateTime,
			cn_note_last_modify_time noteLastModifyTime
		from cn_note
		where cn_notebook_id=#{notebookId}&amp;&amp;cn_note_type_id=='2'
	</select>
</mapper>